.accordion {
  margin-top: 40px;
  border-bottom: 1px solid #999999;
}

.accordion-button::after {
  background-image: url("/assets/icon-plus.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/assets/icon-plus.svg");
  transform: rotate(45deg);
}

.accordion-button:not(.collapsed) {
  color: initial;
  background-color: initial;
  border-color: #999999;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: #999999;
  box-shadow: none;
}
.accordion-item {
  border-bottom: none;
}
.accordion-button {
  border-top: 1px solid #999999;
  padding: 30px 0;
}

.accordion-body {
  padding: 30px 0 20px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
