$accent: #b4a186;
$heading-color: #171717;
$heading-color-inverted: #f0f0f0;
$heading-color-gray: #999999;

$body-bg: #f2f1f0;
$body-color: #555555;
$white: #f0f0f0;
$offcanvas-backdrop-bg: #00000033;
$navbar-dark-active-color: $accent;
$navbar-dark-color: $white;
